/* 
*
* General Use Mixins
*
*/

/** Creates content for collapsed elements
    when child elements have been taken
    out of the normal flow
*/
@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

/** Places a element in the centre of a
    parent element.
    Parent element must have position:relative set
    otherwise this will be centered to the
    first parent with this set.
*/
@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
